<!-- add table  -->
<div id="modal_add_table" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <a class="close" data-dismiss="modal_add_table" >&times;</a>
              <h3>是我,撑场面的Title条君</h3>
            </div>
            <div class="modal-body">
<%= form_for([@databases_table, @databases_table.tables.build]) do |t| %>

      <%= t.label :table_name %>
      <%= t.text_field :table_name %>
      <%= t.label :table_desc %>
      <%= t.text_area :table_desc, "rows" => 3 %>

            </div>
            <div class="modal-footer">
                 <%= t.submit "Create Table", class: "btn btn-primary" %>
                 <a href="#" class="btn" data-dismiss="modal" >Close</a>
           <% end %>
            </div>
</div>
<!-- add table  -->
