<% if !@databases.circles.empty? %>
<h2>Circle Table:</h2>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Table Name</th>
                  <th>Data Source</th>
                  <th>Table Desc</th>
                  <th>Last modify change</th>
                </tr>
              </thead>
              <tbody>
<% @databases.circles.each do |circle| %>
                <tr >
                  <td><%= circle.id =%> </td>
                  <% tables_circle = Table.find(circle.table_id)  %>
                  <td><%= link_to tables_circle.table_name, tables_circle %></td>
                  <% databases_circle = Database.find(circle.circle_source)  %>
                  <td><%= link_to databases_circle.db_project, databases_circle %></td>
                  <td><%= circle.circle_desc =%> </td>
                  <td><%= circle.updated_at =%> </td>
                </tr>
<% end %>
              </tbody>
            </table>

<% end %>

