<h1>DataBases List</h1>

<table class="table table-striped">
              <thead>
                <tr>
                  <th>[+]</th>
                  <th>Project Name</th>
                  <th>Project Desc</th>
                  <th>Version</th>
                  <th>Project Manager</th>
                  <th>DBA</th>
                  <th>Last Modify</th>
                </tr>
              </thead>
                       <tbody>
<%  @databases.each do |database| %>
                <tr>
                  <td><%= database.id %></td>
                  <td><%= link_to database.db_project, database %></td>
                  <td><%= database.db_desc %></td>
                  <td><%= database.db_version %></td>
                    <% @database_pm_user = User.find(database.db_pm) %>
                  <td><%= @database_pm_user.name %></td>
                    <% @database_db_user = User.find(database.db_user) %>
                  <td><%= @database_db_user.name %></td>
                  <td><%= database.updated_at %></td>
                </tr>
<% end %>
              </tbody>
            </table>

<% if admin_? %>
          <a class="btn btn-primary btn-mini" id="backdroptrue" data-toggle="modal" href="#modalbackdroptrue" >Create Database</a> <br />
<% end %>

<!-- 是我,撑场面的注释条君 -->
<div id="modalbackdroptrue" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <a class="close" data-dismiss="modalbackdroptrue" >&times;</a>
              <h3>是我,撑场面的注释条君</h3>
            </div>
            <div class="modal-body">

<%= form_for(@database) do |f| %>

      <%= f.label :db_name %>
      <%= f.text_field :db_name %>

      <%= f.label :db_project %>
      <%= f.text_field :db_project %>

      <%= f.label :db_pm %>
      <%= f.text_field :db_pm %>

      <%= f.label :db_user %>
      <%= f.text_field :db_user %>

      <%= f.label :db_desc %>
      <%= f.text_area :db_desc, "rows" => 3 %>

            </div>
            <div class="modal-footer">
                 <%= f.submit "Create Databases", class: "btn btn-primary" %>
                 <a href="#" class="btn" data-dismiss="modal" >Close</a>
           <% end %>
            </div>
</div>
<!-- create database -->

