<h1>Database Info</h1>




<!-- HeiHei -->



<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
              <li><a href="#profile" data-toggle="tab">Configuration</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Status <b class="caret"></b></a>
                <ul class="dropdown-menu">
                 <% @databases.statuses.each do |status| %>
                  <li><a href="#<%= status.id =%><%= status.name =%>" data-toggle="tab">@<%= status.dbtype =%>[<%= status.ip =%>:<%= status.port =%>]</a></li>
                 <% end %>
                </ul>
              </li>
</ul>


<div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="home">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Database Name</th>
                  <th>Project</th>
                  <th>Version</th>
                  <th>Last modify change</th>
                </tr>
              </thead>
              <tbody>
                <tr class="success">
                  <td><i class="icon-signal"></i></td>
                  <td><%= @databases.db_name =%> </td>
                  <td><%= @databases.db_project =%> </td>
                  <td><%= @databases.db_version =%> </td>
                  <td><%= @databases.updated_at =%> </td>
                </tr>
<!-- 
                <tr class="error">
                  <td>2</td>
                  <td>TB - Monthly</td>
                  <td>02/04/2012</td>
                  <td>Declined</td>
                </tr>
                <tr class="warning">
                  <td>3</td>
                  <td>TB - Monthly</td>
                  <td>03/04/2012</td>
                  <td>Pending</td>
                </tr>
                <tr class="info" >
                  <td>4</td>
                  <td>TB - Monthly</td>
                  <td>04/04/2012</td>
                  <td>Call in to confirm</td>
                </tr>
-->
              </tbody>
            </table>
<blockquote>
<% @database_pm_user = User.find(@databases.db_pm) %>
<div class="well"><%= @databases.db_desc  =%></div>
<small class="pull-right"> Author: <%= @database_pm_user.name =%> | <%= @databases.updated_at =%></small>
</blockquote>
</br>

<% if admin_? %>
<a class="btn btn-primary btn-mini" id="backdroptrue" data-toggle="modal" href="#modal_edit" >Edit Database</a>
<a class="btn btn-primary btn-mini" id="backdroptrue" data-toggle="modal" href="#modal_add_table" >Add Table</a>
<% end %>

<%= render "databases/table_list" %>
<%= render "databases/circle" %>

</div>
              <div class="tab-pane fade" id="profile">
		<pre><%= @databases.db_configuration  =%></pre>
              </div>

<% @databases.statuses.each do |status| %>
<div class="tab-pane fade" id="<%= status.id =%><%= status.name =%>">
  <table class="table table-striped">
              <thead>
                <tr>
                  <th><i class="icon-signal"></i></th>
                  <th>Database</th>
                  <th>Replication Type</th>
                  <th>IP & Port</th>				  
				 </tr>
              </thead>
              <tbody>
                <tr class="info">
                  <td>.</td>
                  <td><%= status.name =%> </td>
                  <td><%= status.dbtype =%> </td>
                  <td><%= status.ip =%> : <%= status.port =%></td>             
                </tr>

              </tbody>
            </table>
			<!-- slave  -->
<% if status.dbtype != "Master" %>
	<% if status.slave_io %>
	<div class="alert alert-success"><strong>Well done!</strong> <%= status.ip =%> : <%= status.port =%> Slave_IO_Running successfully running.</div>
	<% else %>
	<div class="alert alert-error"><strong>Oh snap! <%= status.dbtype =%></strong> <%= status.ip =%> : <%= status.port =%> Slave_IO_Running have a alert error message.</div>
	<% end %>
	
	<% if status.slave_sql %>
	<div class="alert alert-success"><strong>Well done!</strong> <%= status.ip =%> : <%= status.port =%> Slave_SQL_Running Slave successfully running.</div>
	<% else %>
	<div class="alert alert-error"><strong>Oh snap! <%= status.dbtype =%></strong> <%= status.ip =%> : <%= status.port =%> Slave_SQL_Running have a alert error message.</div>
	<% end %>
<% end %>
</div>
<% end %>

            </div>

<!-- HeiHei -->


<%= render "databases/editdatabase" %>
<%= render "databases/addtable" %>
